* {
    box-sizing: content-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(0.4turn, rgb(22, 22, 122), rgb(119, 15, 119)) no-repeat;
    background-size: cover;
}

.BgElement {

    background-color: antiquewhite;
    height: 80%;
    width: 70%;
    border-radius: 10PX;
    top: 10%;
    left: 15%;
    position: relative;
}

#inner {
    position: relative;
    background-size: cover;
    background-image: url("inner-croped.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#text {
    margin: 3%;
    position: relative;
    width: 50%;
    left: 50%;
    bottom: 100%;
}

#login {
    color: rgb(230, 30, 230);
}

#discription {
    font-family: serif;
    color: rgb(80, 74, 80);
}


#Username {
    font-size: 150%;
    color: rgb(230, 30, 230);
    border: 0px;
    width: 60%;
    height: 7%;
    border-radius: 10px;
}

#password {
    font-size: 150%;
    color: rgb(230, 30, 230);
    border: 0px;
    width: 60%;
    height: 7%;
    border-radius: 10px;
}

#chbx{
    position: absolute;
    width: 100%;
    top: 110%;
}
#Loginbtn {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 30, 230);
    border: 0px;
    width: 60%;
    height: 15%;
    top: 122%;
    left: 0%;
    position: absolute;
    border-radius: 10px;
}

p{
    margin: 0px;
    padding: 0px;
    width: 30%;
}

#fp {
    left: 60%;
    bottom: 0.1%;
    position: absolute;

}

#algn{

    position: absolute;
    width: 100%;
    top: 150%;

}

@media screen and (max-width: 900px){
    .BgElement {

        background-color: antiquewhite;
        height: 90%;
        width: 80%;
        border-radius: 10PX;
        top: 4.5%;
        left: 11%;
        position: relative;
    }

    #inner {
        height: 40%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #text {
        margin: 0%;
        position: relative;
        height: 60%;
        width: 100%;
        left: 10%;
        bottom: 0.5%;
    }

    #chbx{
        position: absolute;
        width: 100%;
        top: 64%;
    }

    #Loginbtn {
        height: 10%;
        top: 75%;
        position: absolute;
        border-radius: 10px;
    }

    p{
        width: 30%;
    }
    
    #algn{
        width: 100%;
        top: 90%;
    }

    
#fp {
    left: 65%;
}

}