* {
    box-sizing: content-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(0.4turn, rgb(22, 22, 122), rgb(119, 15, 119)) no-repeat;
    background-size: cover;
}

.BgElement {

    background-color: antiquewhite;
    height: 80%;
    width: 70%;
    border-radius: 10PX;
    top: 10%;
    left: 15%;
    position: relative;
}

#inner {
    position: relative;
    background-size: cover;
    background-image: url("inner-croped.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



#text {

    margin: 3%;
    position: relative;
    width: 50%;
    left: 50%;
    bottom: 100%;
}

/* #travel {
    background-image: url(buss.svg);
    background-repeat: no-repeat;
    height: 76px;
    width: 131px;
    top: 101%;
    left: 107%;
    background-size: 100%;
    position: absolute;
    /* border: solid 3px red; *
    padding: 0%;
    margin: 0%;
} */

@keyframes slide {
    from {
        transform: translateY(60px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* @keyframes move {
    from {
        transform: translateX(2200%);
    }

    to {
        transform: translateX(-2100%);
        opacity: 0;
    }

}

#travel {
    animation: move 5s linear;

} */

#discription,
#login,
#chbx,
#algn {
    animation: fade 1s ease-in-out;
}

#un,
#pass {
    animation: slide 1s ease-in-out;
}

#login {
    color: rgb(230, 30, 230);
}

#discription {
    animation: fade 1s ease-in-out;
    font-family: serif;
    color: rgb(80, 74, 80);
}

    /* #password:hover,
    #Username:hover {
        background-color: rgb(157, 68, 192);
        transition: all 0.3 ease-in-out;
        opacity: .5;
        border: 0cap;
    } */

#Username {
    font-size: 120%;
    color: rgb(14, 33, 160);
    border: 0px;
    width: 60%;
    height: 7%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#password {
    font-size: 120%;
    color: rgb(14, 33, 160);
    border: 0px;
    width: 60%;
    height: 7%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}

#chbx {
    position: absolute;
    width: 100%;
    top: 110%;
}


#Loginbtn {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 30, 230);
    border: 0px;
    width: 60%;
    height: 15%;
    top: 122%;
    left: 0%;
    position: absolute;
    border-radius: 10px;
}

#Loginbtn:hover,#password:hover,
#Username:hover {   
    box-shadow: 2px 10px 15px rgba(189, 35, 255, 0.3);
    transition: all 0.2s ease-in-out;
}

p {
    margin: 0px;
    padding: 0px;
    width: 30%;
}

#fp {
    left: 60%;
    bottom: 0.1%;
    position: absolute;

}

#algn {

    position: absolute;
    width: 100%;
    top: 150%;
    text-decoration: dotted;

}


@media screen and (max-width: 900px) {
    .BgElement {

        height: 90%;
        width: 80%;
        top: 4.5%;
        left: 11%;
    }

    #inner {
        height: 40%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #text {
        margin: 0%;
        height: 60%;
        width: 100%;
        left: 10%;
        bottom: 0.5%;
    }

    #chbx {
        width: 100%;
        top: 64%;
    }

    #Loginbtn {
        height: 10%;
        top: 75%;
    }

    p {
        width: 30%;
    }

    #algn {
        width: 100%;
        top: 90%;
    }

    #fp {
        left: 65%;
    }
}

@media screen and (max-width: 600px) {

    #login {
        font-size: 120%;

    }

    #discription {
        font-size: 85%;
        width: 90%;
    }

    #un {
        font-size: 90%;
        margin: 3%;
    }

    #pass {
        font-size: 90%;
        margin: 3%;
    }

    #text {
        position: absolute;
        left: 5%;
    }

    #chbx {
        position: absolute;
        width: 100%;
        top: 70%;
    }

    #Loginbtn {
        height: 7%;
        top: 80%;
        position: absolute;
        border-radius: 10px;
    }

    #algn {

        position: absolute;
        width: 100%;
        top: 90%;
    }

    @keyframes slide {
        from {
            transform: translateY(25px);
        }
    }
}